*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:gray;
}
.container{
    position:relative;
    width:auto;
    border-radius:6px;
    padding:30px;
    margin:0 15px;
    background-color:#fff;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}
.container h1{
    font-size:20px;
    font-weight:600;
    color:#333;
}
.container form{
    position:relative;
    margin-top:16px;
    height:auto;
    background-color:#fff;

}
.container form .fields{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
form .fields .input-field{
    display:flex;
    width:calc(100% /2 - 15px );
    flex-direction:column;
    margin:4px 0;
}
form .fields .input-field1{
    display:flex;
    width:calc(100% / 1 - 15px );
    flex-direction:column;
    margin:4px 0;
}
form .fields .input-field .upload-box{
    font-size:16px;
    background:white;
    border:2px solid black;
    padding:5px;
}
form .btnbtn{
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
}
form .btn{
    color:#fff;
    background:pink;
    width:100px;
    height:30px;
    border-radius:8px;
    
    
}
/*MOBILE*/

@media(max-width:768px){
    form .fields .input-field, form .fields .input-field1{
        display:flex;
        width:calc(100% / 1 - 15px );
        flex-direction:column;
        margin:4px 0;
    } 
}